---
---

@import "{{ site.theme }}";

.sortable-code {
  width: 80%;
}

#sortable { width: 80%; }

.sortable-code ul {
    font-size: 90%;
    font-family: monospace;
    list-style: none;
    background-color: #efefff;
    padding-bottom: 10px;
    padding-left: 0;
    margin-left: 0;
    border: 1px solid #efefff;;
}

